.container {
  display: flex;
  height: 100vh;
  background: linear-gradient(to bottom, var(--secondary-color), #000);
  margin: 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.header div{
  margin: 10px;
  font-size: 20px;
}

.homeIcon {
  font-size: 24px;
  color: var(--text-color-light);
}

.searchBar {
  margin-left: 20px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 250px;
}

.sidebar {
  height: 100% ;
  float: left;
  width: 60px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 40px;
  position: fixed;
  z-index: 10;
}

.menuItem {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  font-size: 24px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

.main {
  flex: 1;
  margin-left: 60px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.mainContent {
  background-image: url('https://th.bing.com/th/id/R.a2577a2d5004ade3a2a89ef6827bf1a0?rik=CQ6RvwDmKqGXbQ&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f6%2ff%2f6%2f491123.jpg&ehk=muHFSbSb%2bLgPQDgo2ly7hZ1rdyP8gc7c7L4KAtgzl8E%3d&risl=&pid=ImgRaw&r=0');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  flex: 1;
  margin: 20px;
  height: 700px;
  width: auto;
  left: 60px;
}


.playlistContainer {
  top: 20px;
  position: relative;
  padding: 20px;
  margin: 10px;
  text-align: left;
  background-color: hsl(222, 22%, 69%);
  z-index: 1;
  left: 70px;
}

.bottomSection {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.bottomItem {
  width: 100px;
  height: 100px;
  background-color: var(--accent-color);
  border-radius: 10px;
}

.songList {
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

.songItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  color: var(--text-color-light);
}

.songItem strong {
  font-size: 1.2em;
  display: block;
}

.songItem + .songItem {
  margin-top: 10px;
}

.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff4d4d;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.delete-button .bi {
  font-size: 24px;
  margin-right: 5px; /* Adjust spacing between icon and text */
}
