.container {
  display: flex;
  flex-direction: column;
  padding: 20px; /* Add padding for better spacing */
  width: 100%;
  background-color: #f5f5f5; /* Light gray background to differentiate the section */
}

.heading {
  text-align: left;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  color: #333;
}

.header {
  margin: 10px;
  font-size: 20px;
}

.homeIcon {
  font-size: 24px;
  color: var(--text-color-light);
}

.menuItem {
  background-color: var(--primary-color);
  color: var(--text-color-light);
  font-size: 24px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

.main {
  flex: 1;
  margin-left: 60px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.mainContent {
  background-image: linear-gradient(black, rgb(75, 75, 248)) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  flex: 1;
  margin: 20px;
  height: 700px;
  width: auto;
  left: 60px;
}

.mainContent ul{
  padding: 10px;
  width: 200px;
  height: 300px;
  background-color: rgb(34, 33, 31);
  border-radius: 10px;
  flex: 1;
}





.bottomSection {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.bottomItem {
  width: 100px;
  height: 100px;
  background-color: var(--accent-color);
  border-radius: 10px;
}

.songList {
  padding: 10px;
  margin: 10px 0; /* Ensure some margin between the heading and list */
  list-style-type: none;
  width: 100%;
  min-height: 100px; /* Ensure the list has some height */
}

.songItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  color: var(--text-color-light);
}

.songItem strong {
  font-size: 1.2em;
  display: block;
}

.songItem + .songItem {
  margin-top: 10px;
}

.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff4d4d;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.delete-button .bi {
  font-size: 24px;
  margin-right: 5px; /* Adjust spacing between icon and text */
}
